---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
  <!--  <p>{{ post.content | strip_html | truncatewords: 15 }}</p> -->
  <p>{{ post.description }}</p>
    <span class="post-date">Event date is: {{post.date | date: '%c'}}</span>
    <!-- <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
  </div>
</article>
{% endfor %}

{% include pagination.html %}


<!--
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
  .tg td{padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;}
  .tg th{padding:10px 5px;border-style:none;border-width:0px;overflow:hidden;}
  .tg .tg-0lax{text-align:center;vertical-align:center}
  </style> -->
  <table class="table">
    <tr>
      <td class="td"><img src="{{"/assets/img/logos/peltarion.png"}}"><p>Devrel meetup host</p></td>
      <td class="td"><img src="{{"/assets/img/logos/paradox.png"}}"><p>Devrel meetup host</p></td>
      <td class="td"><img src="{{"/assets/img/logos/grafana.png"}}"><p>Devrel meetup host</p></td>
      <td class="td"><img src="{{"/assets/img/logos/king.png"}}"><p>Devrel meetup host</p></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td class="td"><img src="{{"/assets/img/logos/nfq.png"}}"><p>Code, Speak, Repeat workshops host</p></td>
      <td class="td"><img src="{{"/assets/img/logos/unity.png"}}"><p>Games Tech + Stories meetups host</p></td>
      <td class="td"><img src="{{"/assets/img/logos/wgt.png"}}"><p>Communications partner</p></td>
      <td class="td"><img src="{{"/assets/img/logos/lzka.png"}}"><p>Communications partner</p></td>
    </tr>
  </table>

<!--mailchimp pop up-->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"ad086bf6f4bd17869249056f8","lid":"1b847ea0a4","uniqueMethods":true}) })</script>